
@media (min-width: 768px){
    .navbar-brand{
        font-size: 28px !important;
        padding-left: 20px;
    }

    .navbar-expand-sm .navbar-collapse{
        display: flex !important;
        justify-content: flex-end;
        padding: 20px;

    .navbar-nav{
        gap: 12px;
    }

        a{
            font-size: 20px;
        }
    }

    .banner{
        height: 450px;

    .banner_info{
        padding-top: 200px;
    }
    }

    .productos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4px;
        height: 2600px;

        .card{
            height: 600px;
            border-radius: 10px;
        }

        .info-card{
            padding-top: 10px;
        }

        p{
            height: 116px;
        }
    }

    main{
        height: 1000px;

        .img-nosotros{
            height: 450px;
            background-position: top;
        }

        h3{
            margin-top: 40px;
            font-weight: bold;
        }
        p{
            font-size: 19px;
            line-height: 40px;
            margin-top: 40px;
        }
    }
    
    .servicios-banner{
        height: 450px;

        .banner-servicios{
            padding-top: 200px;
        }
    }

    .info-servicios{
            h3{
                padding-top: 40px;
            }

            p{
                line-height: 40px;
            }
    }

    .servicios-precios{
        height: 700px;
        background: linear-gradient($color3,$color2);
    }

    .contenedor-precios{
        display: flex;
        padding-top: 50px;
        gap: 10px;

        .precio{
            height: 420px;
        }
    }

    .img-corporativo{
        height: 450px;
    }

    .banner-contacto{
        height: 450px;
    }

    .maps{
        padding: 20px;
    }
}

@media (min-width: 1024px){
    .navbar{
        height: 120px;
    }

    .banner{
        height: 500px;

        .banner_info{
            padding-top: 250px;
        }
    }

    .productos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        height: 2000px;
        gap: 8px;

        .card8{
            .info-card{
                padding-top: 40px;
            }
        }
    }

    main{
        .img-nosotros{
            height: 500px;
            background-position: top;
        }
    }

    .servicios-banner{
        height: 500px;

        .banner-servicios{
            padding-top: 240px;
        }
    }

    .img-corporativo{
        height: 500px;
    }

    form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .maps{
        iframe{
            width: 100%;
            margin: 0 auto;
        }
    }
}

@media (min-width: 1280px){
    .banner-contacto{
        height: 500px;
    }

    form{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .maps{
        padding-top: 50px;
    }
}